// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #3a1e0c;
$color-one: #04d9ab;
$color-two: #612415;
$color-three:#3a1e0c;
$color-four: #E6FD5A;
$color-five: #0E3E2F;
$color-six: #DFFF5E;
$color-seven: #044F3B;
$color-eight: #1F5E59;
$color-nine: #04d9ab;
$light-bg-one: #f5f5f5;
$light-bg-two: #f5f5f5;
$cyan: #DCEFF0;
